@import "tailwindcss";

@font-face {
    font-family: "Vazirmatn";
    src: url("assets/Vazirmatn.ttf") format("truetype");
}

html {
    font-family: "Vazirmatn", sans-serif;
}

body,
input,
textarea,
select,
option,
label,
button {
    font-family: inherit;
}

body {
    @apply bg-gray-100;
}

.board {
    /*inline-size: calc(100% - .5rem);*/
    padding-inline: 10px;
    overflow-x: auto;
    @apply min-h-screen;
}

.drag-hover {
    @apply border border-blue-500;
}
